{% extends 'base.html.twig' %}

{% block title %}Verificación de edad{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Edad ingresada: {{ edad }}</h2>
        <p><strong>{{ mensaje }}</strong></p>
    </div>
{% endblock %}
